@import "colors";
@import "mixin";
.chapter-4{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: $white-2;
  @include respond-to(320px){
    flex-direction: column;
  }
  &__content {
    &-left {
      align-self: center;
      margin-right: 110px;
      @include textblock(347px,59px,$yellow-1,672px,190px);
      @include respond-to(320px){
        width: 100%;
        margin-right: 0;
        @include textblockE(100%, 50px,30px, $yellow-1, 100%, 100%,18px);
        padding: 20px 20px 0 20px;
      }
    }
    &-right {
      width: 664px;
      height: 658px;
      display: flex;
      align-self: flex-start;
      justify-content: center;
      align-items: center;
      position: relative;
      @include respond-to(320px){
        width: 300px;
        height: 300px;
        align-self: center;
        margin-top: 50px;
      }
      &-circle-1 {
        position: absolute;
        width: 365px;
        height: 364px;
        left: 40%;
        top:25%;
        border-radius: 50%;
        background: $purple-1;
        @include respond-to(320px){
          width: 150px;
          height: 150px;
          left: 45%;
        }
      }
      &-circle-2 {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 40%;
        left: 35%;
        border-radius: 50%;
        background: $green-2;
        transform: matrix(-1, 0, 0, 1, 0, 0);
      }
      &-circle-3 {
        position: absolute;
        width: 25px;
        height: 25px;
        left: 95%;
        top: 30%;
        border-radius: 50%;
        background: $blue-6;
        transform: matrix(-1, 0, 0, 1, 0, 0);
      }
      &-circle-4 {
        position: absolute;
        width: 16px;
        height: 16px;
        left: 85%;
        top: 90%;
        border-radius: 50%;
        background: $yellow-1;
        transform: matrix(-1, 0, 0, 1, 0, 0);
      }
      &-img {
        width: 662px;
        height: 658px;
        z-index: 1;
        @include respond-to(320px){
          width: 300px;
          height: 300px;
        }
      }
      &-advantages-1 {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 104px;
        height: 104px;
        left: 15%;
        top: 25%;
        background: $white-3;
        box-shadow: 0px 89.761px 145.862px rgba(0, 0, 0, 0.05);
        border-radius: 19.1456px;
        @include respond-to(320px){
          width: 70px;
          height: 70px;
          left: 5%;
        }
      }
      &-advantages-2 {
        position: absolute;
        width: 106px;
        height: 103px;
        left: 85%;
        top: 5%;
        @include respond-to(320px){
          width: 60px;
          height: 60px;
          left: 75%;
          & img {
            width: 60px;
            height: 60px;
          }
        }
      }
    }
  }
}