.chapter-6{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
}
.chapter-6__content{
  height: 80%;
  width: 90%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chapter-6__content_left{
  width: 680px;
  height: 680px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.chapter-6__content_left_Andrea{
  border-radius: 50%;
}


.chapter-6__content_right{
  align-self: center;
}
.chapter-6__content_right_top{
  width: 548px;
  height: 59px;

  font-family: 'NunitoSans';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 147.4%;
  /* or 59px */

  letter-spacing: 0.02em;

  color: #4A4A4A;
}
.chapter-6__content_right_line{
  background-color: #FED369;
  width: 65px;
  height: 5px;
  border-radius: 30px;
  margin: 20px 0px;
}
.chapter-6__content_right_bottom{
  width: 676px;
  height: 190px;

  font-family: 'NunitoSans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  /* or 158% */

  letter-spacing: 0.005em;

  color: #575757;
}