@import "colors";
@import "mixin";
.chapter-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 150px;
  @include respond-to(md) {
    flex-direction: column-reverse;
    margin-bottom: 0;
  }
  &__content {
    &-left {
      width: 680px;
      height: 680px;
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      margin-right: 180px;
      @include respond-to(md) {
        margin-right: 0;
        width: 300px;
        height: 300px;
        margin-top: 50px;
      }
      &-Andrea {
        border-radius: 50%;
        width: 582px;
        height: 582px;
        @include respond-to(md) {
          margin-right: 0;
          width: 280px;
          height: 280px;
        }
      }
      &-ellipse-1 {
        position: absolute;
        width: 500px;
        height: 500px;
        z-index: 1;
        @include respond-to(md) {
          width: 240px;
          height: 240px;
        }
      }
      &-ellipse-2 {
        position: absolute;
        width: 680px;
        height: 680px;
        @include respond-to(md) {
          width: 300px;
          height: 300px;
        }

      }
      &-circle-blue {
        position: absolute;
        z-index: 1;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        left: 12%;
        top: 12%;
        background: $blue-3;
        @include respond-to(md) {
          width: 20px;
          height: 20px;
        }
      }
      &-circle-red {
        position: absolute;
        z-index: 1;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        left: 22%;
        top: 90%;
        background:$red-2;
        @include respond-to(md) {
          width: 12px;
          height: 12px;
        }
      }
      &-circle-pink {
        position: absolute;
        z-index: 1;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        left: 98%;
        top: 50%;
        background:$pink-1;
        @include respond-to(md) {
          width: 12px;
          height: 12px;
        }
      }
    }
    &-right {
      align-self: center;
      @include textblock(548px,59px,$yellow-1,676px,190px);
      @include respond-to(md) {
        @include textblockE(100%, 100%,30px, $yellow-1, 100%, 100%,18px);
        padding: 20px 20px 0 20px;
      }
    }
  }
}