.chapter-1__content_menu{
  justify-self: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 0;
  width: 100%;
}
@media (max-width: 479px) {
  .menu_item_middle{
    font-size: 20px;
  }
  .menu_item_end_2{
    font-size: 20px;
    margin: 0px 0px 0px 5px;
  }
}
@media (max-width: 767px) {

}
@media (max-width: 962px) {

}
.chapter-1__content_menu_row-1{
  display: flex;
  align-items: flex-end;
}
.chapter-1__content_menu_row-2{
  padding: 5px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.chapter-1__content_menu_row-3{
  padding: 5px 0;
  display: flex;
}
.chapter-1__content_menu_icon{
  background-color: #FFCA1D;
  cursor: default;
  margin-right: 15px;
  padding: 10px;
  border-radius: 30px;
}
.menu_img_start{
  margin:0;
}
.chapter-1__content_menu_TeamFlow{
  font-family: 'Poppins';
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
}
.chapter-1__content_menu_middle_text{
  background-color: transparent;
  font-family: 'NunitoSans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 126.9%;
  /* or 30px */
  letter-spacing: 0.02em;
  color: #fff;
}
.chapter-1__content_menu_middle{
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.chapter-1__content_menu_middle_img{
  float:right;
  margin:0;
}


.chapter-1__content_menu_Login{
  background-color: transparent;
  font-family: 'NunitoSans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 126.9%;
  /* or 30px */
  color: #757575;
}

.chapter-1__content_menu_Sing-Up{
  top:50%;
  padding:15px;
  margin: 0px 0px 0px 45px;
  background: #FFCA1D;
  border-radius: 10px;
  font-family: 'NunitoSans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 126.9%;
  /* or 30px */

  color: black;
}

.chapter-1{
  display: flex;
  flex-direction: column;
  height: 10%;
  width: 1920px;
}
.chapter-1__content {
  display: flex;
  flex-direction: column;
  align-self: center;
  height: 70%;
  width: 90%;
}
.chapter-1__img1{
  position: absolute;
  z-index: -3;
  width: 1300px;
  height: 977px;
}
.chapter-1__img2{
  position: absolute;
  width: 1903px;
  height: 977px;
  background: #FAFAFF;
  z-index: -4;
}

.chapter-1__img3{
  position: absolute;
  width: 1356.93px;
  height: 494.53px;
  z-index: -2;
}
.chapter-1__img4{
  position: absolute;
  width: 1356.93px;
  height: 494.53px;
  z-index: -1;
}
.chapter-1__img5{
  position: absolute;
  width: 1185px;
  height: 357px;
  left: -20%;
  top: 70%;
  z-index: -2;
}
.chapter-1__img6{
  position: absolute;
  width: 1185px;
  height: 273.36px;
  left: -11%;
  top: 90%;
  z-index: -1;
}
.chapter-1__content_block{
  width: 100%;
  position: relative;
  display: flex;
  justify-self: flex-end;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  margin-top: 100px;
}
.chapter-1__content_block_left{
  display: flex;
  flex-direction: column;
}
.chapter-1__content_block_left_Welcome-to-TeamFlow{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  width: 288px;
  padding: 10px 0px;
  background: #FFFFFF;
  border-radius: 10px;

  font-weight: 400;
  font-size: 20px;
  line-height: 160.4%;
  letter-spacing: 0.04em;
  color: #606060;
}

.chapter-1__content_block_left_Welcome-to-TeamFlow_fig-1{
  position: absolute;
  width: 22px;
  height: 22px;
  left: 360px;
  top: -47px;
}

.chapter-1__content_block_left_Work-the-way{
  width: 677px;
  font-weight: 800;
  font-size: 64px;
  line-height: 126.9%;
  /* or 81px */

  letter-spacing: 0.02em;

  color: #FFFFFF;
}
.chapter-1__content_block_left_Work-the-way_fig-2{
  position: absolute;
  width: 40px;
  height: 40px;
  left: 580px;
  top: 165px;
}
.chapter-1__content_block_left_Work-the-way_fig-3{
  position: absolute;
  width: 35px;
  height: 35px;
  left: 600px;
  top: 185px;
}
.chapter-1__content_block_left_line{
  background-color: #3ADAD9;
  width: 65px;
  height: 5px;
  border-radius: 30px;
  margin: 40px 0px;
}
.chapter-1__content_block_left_Create{
  position: relative;
  width: 625px;

  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 160.4%;
  /* or 48px */

  letter-spacing: 0.02em;

  color: #FFFFFF;
}
.chapter-1__content_block_left_Create_fig-4{
  position: absolute;
  width: 33px;
  height: 33px;
  left: 490px;
  top: 69px;
}
.chapter-1__content_block_left_Get-Started{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 70px;
  margin: 40px 0;

  background: #FFCA1D;
  border-radius: 10px;

  font-weight: 600;
  font-size: 26px;
  line-height: 126.9%;
  /* identical to box height, or 33px */
  color: #2C2C2C;
}
.chapter-1__content_block_right{
  display: flex;
  flex-direction: column;
}
.chapter-1__content_block_right_lucy{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-bottom: 22.91px;
}
.chapter-1__content_block_right_lucy_avatar{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 260.33px;
  height: 282.15px;
  background: #E9EAF6;
  background-size: contain;
  box-shadow: 0px 75.0135px 121.897px rgba(0, 0, 0, 0.05);
  border-radius: 50%;

  margin-right: 57.32px;
}

.chapter-1__content_block_right_lucy_avatar_fig-5{
  position: absolute;
  width: 50px;
  height: 50px;
  left: -147px;
  top: -20px;
}

.chapter-1__content_block_right_addit-name{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1;

  background: #FAFAFA;
  border-radius: 34.5114px;

  font-family: 'NunitoSans';
  font-style: normal;
  font-weight: 700;
}
.chapter-1__content_block_right_lucy_name{
  width: 241.58px;
  height: 67.3px;
  left: -131.26px;
  top: 189.26px;

  font-size: 30px;
  line-height: 126.9%;
  /* or 38px */
  color: #494949;
}

.chapter-1__content_block_right_mark_name{
  width: 91.65px;
  height: 26.19px;
  left: 141.81px;
  top: 55.75px;

  font-size: 11.8258px;
  line-height: 126.9%;
  /* or 15px */
  color: #279E73;
}
.chapter-1__content_block_right_avatar_dash{
  position: absolute;
  width: 100%;
  height: 100%;
}

.chapter-1__content_block_right_lucy_dash{
  width: 310.6px;
  height: 310.6px;
}

.mark_dash{
  width: 223px;
  height: 223px;
}

.chapter-1__content_block_right_comment{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 375.07px;
  height: 148.19px;
  background: #FFFFFF;
  box-shadow: 0px 75.0135px 121.897px rgba(0, 0, 0, 0.05);
  border-radius: 18px;

  margin-right: 61.24px;
}
.chapter-1__content_block_right_comment_top{
  width: 297.71px;
  height: 50px;
  display: flex;
  justify-content: space-between;

  font-family: 'NunitoSans';
  font-style: normal;
  font-weight: 700;
  font-size: 18.7534px;
  line-height: 126.9%;
}
.chapter-1__content_block_right_comment_top_name{
  align-self: flex-end;
}
.chapter-1__content_block_right_comment_top_status{
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  width: 82.05px;
  height: 32.59px;


  font-weight: 400;
  font-size: 19.9255px;
  line-height: 126.9%;
  color: #FFFFFF;
  border-radius: 7.03252px;
}
.lucy{
  background: #3ADAD9;
}
.mark{
  background: #FD9B79;
}

.chapter-1__content_block_right_comment_middle{
  width: 297.71px;
  height: 26.77px;
  margin: 10px 0;

  font-family: 'NunitoSans';
  font-style: normal;
  font-weight: 700;
  font-size: 21.0976px;
  line-height: 126.9%;
  color: #2B3377;
}
.chapter-1__content_block_right_comment_bottom{
  width: 297.71px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.chapter-1__content_block_right_mark{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
}
.chapter-1__content_block_right_mark_avatar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 191.75px;
    height: 191.75px;
    background: #4B4AEF;
    background-size: contain;
    box-shadow: 0px 75.0135px 121.897px rgba(0, 0, 0, 0.05);
    border-radius: 50%;
}