.chapter-5{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
}

.chapter-5__content{
  height: 80%;
  width: 90%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.chapter-5__top{
  width: 775px;
  height: 142px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.chapter-5__top_text-1{
  font-family: 'NunitoSans';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 147.4%;
  /* or 71px */
  text-align: center;
  letter-spacing: 0.02em;

  color: #FFCA1D;
}
.chapter-5__top_text-2{
  font-family: 'NunitoSans';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 147.4%;
  /* or 71px */
  text-align: start;
  letter-spacing: 0.02em;

  color: #565656;
}

.chapter-5__middle{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.chapter-5__middle_img{
  box-shadow: 0px 89.761px 145.862px rgba(0, 0, 0, 0.1);
}
.chapter-5__bottom{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.chapter-5__bottom_View-All{
  width: 230px;
  height: 70px;

  background: #FFCA1D;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.chapter-5__bottom_View-All_text{
  font-family: 'NunitoSans';
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 126.9%;
  /* identical to box height, or 33px */

  color: #2C2C2C;
}