@import "colors";
@import "mixin";
.chapter-8{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 275px 0 280px 0;
  @include respond-to(320px){
    flex-direction: column;
    margin: 50px 0 50px 0;
  }
  &__content {
    &-left {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      margin-right: 270px;
      @include respond-to(320px){
        margin-right: 0;
      }
      &-fennimore {
        width: 478px;
        height: 589px;
        @include respond-to(320px){
          width: calc(478px/2);
          height: calc(589px/2);
        }
      }
      &-backfig-1 {
        position: absolute;
        width: 247.28px;
        height: 428.12px;
        left: -3%;
        top: -2%;
        z-index: -1;
        background: $blue-1;
        @include respond-to(320px){
          width: calc(247.28px/2);
          height: calc(428.12px/2);
        }
      }
      &-backfig-2 {
        position: absolute;
        width: 105.98px;
        height: 190.09px;
        left: 80%;
        top: 60%;
        z-index: -1;
        background: $yellow-1;
        @include respond-to(320px){
          width: 52px;
          height: 80px;
        }
      }
      &-commentbox {
        position: absolute;
        width: 440px;
        height: 230px;
        top: 80%;
        left: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1;
        @include respond-to(320px){
          width: 220px;
          height: 115px;
          left: 10%;
        }
        &-comment {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 440px;
          height: 200px;
          background: $white-3;
          box-shadow: 0px 89.761px 145.862px rgba(0, 0, 0, 0.05);
          border-radius: 19.1456px;
          @include respond-to(320px){
            width: 220px;
            height: 100px;
          }
          &-top {
            font-family: 'NunitoSans';
            width: 348.22px;
            height: 115px;
            font-style: normal;
            font-weight: 400;
            font-size: 20.1864px;
            line-height: 160.69%;
            /* or 32px */
            letter-spacing: 0.02em;
            color:$blue-8;
            @include respond-to(320px){
              width: calc(348.22px/2);
              height: calc(115px/2);
              font-size: 11px;
            }
          }
          &-bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 348.22px;
            @include respond-to(320px){
              width: calc(348.22px/2);
            }
            &-left {
              font-family: 'NunitoSans';
              font-style: normal;
              font-weight: 600;
              font-size: 20.1864px;
              line-height: 160.69%;
              /* identical to box height, or 32px */
              letter-spacing: 0.02em;
              color: #2D3150;
              @include respond-to(320px){
                font-size: 10px;
              }
            }
            &-right {
              font-family: 'NunitoSans';
              font-style: normal;
              font-weight: 400;
              font-size: 20.1864px;
              line-height: 160.69%;
              /* identical to box height, or 32px */
              letter-spacing: 0.02em;
              color: $blue-9;
              @include respond-to(320px){
                font-size: 10px;
              }
            }
          }
        }
        &-dotsbox {
          position: absolute;
          top: 95%;
          left: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          z-index: -1;
          &-top {
            display: flex;
            justify-content: center;
            align-items: center;
          }
          &-middle {
            display: flex;
            justify-content: center;
            align-items: center;
          }
          &-bottom{
            display: flex;
            justify-content: center;
            align-items: center;
          }
          &-dot {
            width: 5.05px;
            height: 5.05px;
            margin-right: 10px;
            margin-bottom: 6.5px;
            border-radius: 50%;
            background: $white-5;
          }
        }
      }
    }
    &-right {
      @include textblock(548px,59px,$orange-1,650px,190px);
      @include respond-to(320px){
        @include textblockE(100%, 100%,30px, $yellow-1, 100%, 100%,18px);
        padding: 120px 20px 0 20px;
      }
      &-readmore {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 230px;
        height: 70px;
        background: $yellow-1;
        border-radius: 10px;
        margin-top: 32px;
        @include respond-to(320px){
          width: 180px;
          height: 50px;
          margin-top: 20px;
        }
        &-text {
          position: absolute;
          font-family: 'NunitoSans';
          font-style: normal;
          font-weight: 600;
          font-size: 26px;
          line-height: 126.9%;
          /* identical to box height, or 33px */
          color:$black-2;
          @include respond-to(320px){
            font-size: 20px;
          }
        }
      }
    }
  }
}