@import "colors";
@import "mixin";
.chapter-1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: url("../img/chapter-1/Rectangle 36.png");
  background-repeat: no-repeat;
  @include respond-to(md) {
    height: 100%;
    background-repeat: repeat;
  }
  &__img2 {
    position: absolute;
    width: 100%;
    height: 977px;
    background: $white-2;
    z-index: -4;
  }
  &__img3 {
    position: absolute;
    width: 100%;
    height: 494.53px;
    z-index: 0;
  }
  &__img4 {
    position: absolute;
    width: 100%;
    height: 494.53px;
    z-index: 1;
  }
  &__img5 {
    position: absolute;
    width: 100%;
    height: 357px;
    left: -31px;
    top: 723px;
    z-index: 0;
    @include respond-to(md) {
      left: 0;
      top: 1197px;
    }
  }
  &__img6 {
    position: absolute;
    width: 100%;
    height: 273.36px;
    left: -161px;
    top: 856px;
    z-index: 1;
    @include respond-to(md) {
      left: 0;
      top: 1314px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 76px 190px 342px 190px;
    z-index: 2;
    @include respond-to(md) {
      padding: 30px 10px 30px 10px;
    }
    &-menu {
      justify-self: flex-start;
      display: flex;
      justify-content: center;
      @include respond-to(md) {
        justify-content: space-between;
        margin: 0 10px 0 10px;
      }
      &-burger {
        display: none;
        justify-content: center;
        align-items: center;
        height: 38px;
        width: 38px;
        background: $white-3;
        border-radius: 10px;
        @include respond-to(md) {
          display: flex;
        }
        &-img {
          background: url("../img/chapter-1/icons8-menu-rounded-30.png");
          width: 30px;
          height: 30px;
        }
      }
      &-row-1 {
        display: flex;
        align-items: center;
        &-icon {
          background-color: $orange-1;
          cursor: default;
          margin-right: 15px;
          padding: 10px;
          border-radius: 30px;
          &-start {
            margin:0;
          }
          &-TeamFlow {
            font-family: 'Poppins';
            color: $white-1;
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 30px;
          }
        }
      }
      &-row-2 {
        display: flex;
        padding: 0px 225px 0 273px;
        @include respond-to(md) {
          display: none;
        }
        &-middle {
          display: flex;
          align-items: center;
          margin-right: 40px;
          &-text {
            background-color: transparent;
            font-family: 'NunitoSans';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 126.9%;
            letter-spacing: 0.02em;
            color: $white-1;
          }
          &-img {
            padding-left: 10px;
          }
        }
      }
      &-row-3 {
        padding: 5px 0;
        display: flex;
        align-items: center;
        @include respond-to(md) {
          display: none;
        }
        &-Login {
          background-color: transparent;
          font-family: 'NunitoSans';
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 126.9%;
          color: $gray-1;
        }
        &-SingUp {
          top:50%;
          padding:15px;
          margin: 0px 0px 0px 45px;
          background: $orange-1;
          border-radius: 10px;
          font-family: 'NunitoSans';
          font-style: normal;
          white-space: nowrap;
          font-weight: 700;
          font-size: 24px;
          line-height: 126.9%;
          color: $black-1;
        }
      }
    }
    &-block {
      width: 100%;
      position: relative;
      display: flex;
      justify-self: flex-end;
      justify-content: center;
      align-items: center;
      padding-top: 159px;
      @include respond-to(md) {
        flex-direction: column;
        justify-content: center;
        padding-top: 50px;
      }
      @include respond-to(xl) {
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 50px;
      }
      &-left {
        display: flex;
        flex-direction: column;
        padding-right: 150px;
        @include respond-to(md) {
          padding: 0 0 0 0;
        }
        &-Welcome-to-TeamFlow {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 54px;
          width: 288px;
          padding: 10px 0px;
          background: $white-3;
          border-radius: 10px;
          font-weight: 400;
          font-size: 20px;
          line-height: 160.4%;
          letter-spacing: 0.04em;
          color: $gray-2;
          &-fig-1 {
            position: absolute;
            width: 22px;
            height: 22px;
            left: 40%;
            top: -80%;
          }
        }
        &-Work-the-way {
          position: relative;
          width: 677px;
          font-weight: 800;
          font-size: 64px;
          line-height: 126.9%;
          letter-spacing: 0.02em;
          color: $white-3;
          margin-top: 20px;
          @include respond-to(md) {
            width: 320px;
            font-size: 32px;
          }
          &-fig-2 {
            position: absolute;
            width: 40px;
            height: 40px;
            left: 90%;
            top: -10%;
            @include respond-to(md) {
              display: none;
            }
          }
          &-fig-3 {
            position: absolute;
            width: 35px;
            height: 35px;
            left: 92%;
            top: 0%;
            @include respond-to(md) {
              display: none;
            }
          }
        }
        &-line {
          background-color: $blue-1;
          width: 65px;
          height: 5px;
          border-radius: 30px;
          margin: 40px 0px;
          @include respond-to(md) {
            margin: 20px 0px;
          }
        }
        &-Create {
          position: relative;
          width: 625px;
          font-style: normal;
          font-weight: 400;
          font-size: 30px;
          line-height: 160.4%;
          letter-spacing: 0.02em;
          color: $white-3;
          @include respond-to(md) {
            width: 320px;
            font-size: 30px;
          }
          &-fig-4 {
            position: absolute;
            width: 33px;
            height: 33px;
            left: 85%;
            top: 80%;
          }
        }
        &-Get-Started {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 230px;
          height: 70px;
          margin: 40px 0;
          background: $orange-1;
          border-radius: 10px;
          font-weight: 600;
          font-size: 26px;
          line-height: 126.9%;
          /* identical to box height, or 33px */
          color: #2C2C2C;
          @include respond-to(md) {
            align-self: center;
            margin: 20px 0;
            width: 200px;
            height: 50px;
            font-size: 22px;
          }
        }
      }
      &-right{
        display: flex;
        flex-direction: column;
        &-avatar-dash {
          position: absolute;
          width: 100%;
          height: 100%;
        }
        &-addit-name {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 1;
          background: $white-2;
          border-radius: 34.5114px;
          font-family: 'NunitoSans';
          font-style: normal;
          font-weight: 700;
        }
        &-lucy {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 22.91px;
          @include respond-to(md) {
            flex-direction: column;
            justify-content: space-around;
            padding-top: 20px;
          }
          &-avatar {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 260.33px;
            height: 282.15px;
            background: $white-3;
            background-size: contain;
            box-shadow: 0px 75.0135px 121.897px rgba(0, 0, 0, 0.05);
            border-radius: 50%;
            margin-right: 57.32px;
            @include respond-to(md) {
              margin: 0 0 30px 0;
            }
          }
          &-fig-5 {
            position: absolute;
            width: 50px;
            height: 50px;
            left: -147px;
            top: -20px;
          }
          &-name {
            width: 241.58px;
            height: 67.3px;
            left: -131.26px;
            top: 189.26px;
            font-size: 30px;
            line-height: 126.9%;
            color: $gray-3;
            @include respond-to(md) {
              left: 9px;
              top: 213px;
            }
          }
          &-dash {
            width: 310.6px;
            height: 310.6px;
          }
        }
        &-mark {
          display: flex;
          align-items: center;
          justify-content: center;
          @include respond-to(md) {
            flex-direction: column-reverse;
            padding-top: 20px;
          }
          &-name {
            width: 91.65px;
            height: 26.19px;
            left: 141.81px;
            top: 55.75px;
            font-size: 11.8258px;
            line-height: 126.9%;
            color: $green-1;
          }
          &-dash {
            width: 223px;
            height: 223px;
          }
          &-avatar {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 191.75px;
            height: 191.75px;
            background: $purple-1;
            background-size: contain;
            box-shadow: 0px 75.0135px 121.897px rgba(0, 0, 0, 0.05);
            border-radius: 50%;
          }
        }
        &-comment {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          width: 375.07px;
          height: 148.19px;
          background: #FFFFFF;
          box-shadow: 0px 75.0135px 121.897px rgba(0, 0, 0, 0.05);
          border-radius: 18px;
          margin-right: 65px;
          @include respond-to(md) {
            width: 300px;
            padding: 0 10px 0 10px;
            margin-right: 0;
          }
          &-top {
            width: 297.71px;
            height: 50px;
            display: flex;
            justify-content: space-between;
            font-family: 'NunitoSans';
            font-style: normal;
            font-weight: 700;
            font-size: 18.7534px;
            line-height: 126.9%;
            @include respond-to(md) {
              padding: 0 20px 0 20px;
            }
            &-name {
              align-self: flex-end;
            }
            &-status {
              display: flex;
              align-items: center;
              justify-content: center;
              align-self: flex-start;
              width: 82.05px;
              height: 32.59px;
              font-weight: 400;
              font-size: 19.9255px;
              line-height: 126.9%;
              color: #FFFFFF;
              border-radius: 7.03252px;
            }
            &-background {
              &-lucy {
                background: #3ADAD9;
              }
              &-mark {
                background: #FD9B79;
              }
            }
          }
          &-middle {
            width: 297.71px;
            height: 26.77px;
            margin: 10px 0;
            font-family: 'NunitoSans';
            font-style: normal;
            font-weight: 700;
            font-size: 21.0976px;
            line-height: 126.9%;
            color: #2B3377;
            @include respond-to(md) {
              padding: 0 20px 0 20px;
              font-size: 18px;
            }
          }
          &-bottom {
            width: 297.71px;
            display: flex;
            align-items: center;
            justify-content: start;
            @include respond-to(md) {
              padding: 0 20px 0 20px;
            }
          }
        }
      }
    }
  }
}