.wrapper{
  height: 100%;
  overflow: hidden;
  min-height: 100%;
  padding: 10px;
}
.menu{
  display: flex;
  justify-content: space-around;
}
.menu_row_1{
  display: flex;
  align-items: flex-end;
}
.menu_row_2{
  display: flex;
  justify-content: space-around;
}
.menu_row_3{
  display: flex;
}
.menu_item_start_1{
  background-color: #FFCA1D;
  cursor: default;
  margin-right: 15px;
  padding: 10px;
  border-radius: 30px;
}
.menu_img_start{
  margin:0;
  vertical-align: center;
}
.menu_item_start_2{
  font-family: 'Poppins-Black';
  color: #fff;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
}
.menu_item_middle{
  background-color: transparent;
  border-radius:10px;
  margin-right: 15px;
  font-family: 'NunitoSans-Black';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 126.9%;
  /* or 30px */
  letter-spacing: 0.02em;
  color: #fff;
}
.menu_img_middle{
  float:right;
  margin:0;
}

img.menu_img_middle{
  vertical-align: middle;
}

.menu_item_end_1{
  background-color: transparent;
  font-family: 'NunitoSans-Black';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 126.9%;
  /* or 30px */
  color: #757575;
}

.menu_item_end_2{
  top:50%;
  padding:15px;
  margin: 0px 0px 0px 10px;
  background: #FFCA1D;
  border-radius: 10px;
  font-family: 'NunitoSans-Black';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 126.9%;
  /* or 30px */

  color: black;
}