@import "colors";

@mixin textblockE($topw,$toph,$topfz,$linec,$bottomw,$bottomh,$bottomfz){
  &-top {
    width: $topw;
    height: $toph;
    font-family: 'NunitoSans';
    font-style: normal;
    font-weight: 700;
    font-size: $topfz;
    line-height: 147.4%;
    /* or 59px */
    letter-spacing: 0.02em;
    color: $gray-8;
  }
  &-line {
    background-color: $linec;
    width: 65px;
    height: 5px;
    border-radius: 30px;
    margin: 20px 0px 20px 0;
  }
  &-bottom {
    width: $bottomw;
    height: $bottomh;
    font-family: 'NunitoSans';
    font-style: normal;
    font-weight: 400;
    font-size: $bottomfz;
    line-height: 38px;
    /* or 158% */
    letter-spacing: 0.005em;
    color: $gray-5;
  }
}

@mixin textblock($topw,$toph,$linec,$bottomw,$bottomh){
  &-top {
    width: $topw;
    height: $toph;
    font-family: 'NunitoSans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 147.4%;
    /* or 59px */
    letter-spacing: 0.02em;
    color: $gray-8;
  }
  &-line {
    background-color: $linec;
    width: 65px;
    height: 5px;
    border-radius: 30px;
    margin: 20px 0px 20px 0;
  }
  &-bottom {
    width: $bottomw;
    height: $bottomh;
    font-family: 'NunitoSans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    /* or 158% */
    letter-spacing: 0.005em;
    color: $gray-5;
  }
}

@mixin respond-to($media) {
$xs:320px; $sm:576px; $md:768px; $lg:992px; $xl:1200px; $xxl:1920px;
  @if $media == $xs{
    @media only screen and (max-width: 575px){
      @content
    }
  }
  @else if $media == $sm {
    @media only screen and (min-width: 576px){
     @content
    }
  }
  @else if $media == $md {
    @media only screen and (min-width: 768px) {
      @content
    }
  }
  @else if $media == $lg {
    @media only screen and (min-width: 992px) {
      @content
    }
  }
  @else if $media == $xl {
    @media only screen and (min-width: 1200px) {
      @content
    }
  }
  @else if $media == $xxl {
    @media only screen and (min-width: 1920px) {
      @content
    }
  }
}