@mixin font($font_name, $file_name, $weight, $style) {

  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "fonts.scss";
@import "nullstyle.scss";

._ibj{
  position: relative;
}
._ibj img{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  object-fit: cover;
}

.wrapper{
  height: 10049px;
  width: 1903px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

body {
  font-family: "NunitoSans", "Arial", sans-serif;
}
@import "chapter-1";
@import "chapter-2";
@import "chapter-3";
@import "chapter-4";
@import "chapter-5";
@import "chapter-6";
@import "chapter-7";
@import "chapter-8";
@import "chapter-9";
@import "chapter-10";
@import "chapter-11";

