@mixin font($font_name, $file_name, $weight, $style) {

  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "fonts.scss";
@import "nullstyle.scss";
@import "menu_style.scss";

._ibj{
  position: relative;
}
._ibj img{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  object-fit: cover;
}

@import "page-1";

.wrapper{
  height: 10049px;
  overflow: hidden;
  min-height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

@import "page-2";



body {
  /*background-color: darkslateblue;*/
  font-family: "NunitoSans-Black", "Arial", sans-serif;
}